@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

p {
	font-size: 1.1rem;
	line-height: 1.5rem;
}
p a {
	font-weight: 500;
	font-size: 1.1rem;
	color: #e6c833;
}
p a:hover {
	color: #f9f1cc;
}
/* gold-nouveau theme */
@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}
